{% extends "bootstrap/base.html" %}

{% block title %}
    {% if title %}{{ title }} {% else %} Home {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <a href="{{ url_for('index') }}">Home</a>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}