{% extends "base.html" %}
{% block app_content %}
    <input type="button" value="Run" onclick="connect('{{sim.id}}')"/>
    <canvas id="scenario" width="750" height="450"></canvas>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scenario.js') }}"></script>
    <script type="text/javascript">
        var tanka = {{sim.da.ta.export_data()|tojson}}
        var tankb = {{sim.da.tb.export_data()|tojson}}
        var tankc = {{sim.db.ta.export_data()|tojson}}
        var tankd = {{sim.db.tb.export_data()|tojson}}
        var zoom = {{sim.zm}}
        document.addEventListener('DOMContentLoaded', function(){
            draw(tanka,tanka.level, zoom);
            draw(tankb,tankb.level, zoom);
            draw(tankc,tankc.level,zoom);
            draw(tankd,tankd.level,zoom);
        });
    </script>
{% endblock %}